* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 550px;
    background-color: gray;
    border-radius: 30px;
    border: 5px solid black;
}

.red-border{
    background-color: red;
    display: grid;
    place-items: center;
    height: 740px;
    width: 870px;
    padding-bottom: 70px; 
    border-radius: 30px; 
    margin: 20px;
}

.title {
    color: goldenrod;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-size: 50px
}