* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    aspect-ratio: 1 / 1; /* grid container will always be square */
    background-color: gray;
    border-radius: 10px;
    border: 5px solid black;
    --flex-basis: 6.25%; /* this is my css variable flex-basis because it will change dynamically - has to be defined in the parent for the child to accept it */
}

.grid-container > .square-div{ /* will target immediate children */
    border: 1px solid dimgray;
    aspect-ratio: 1 / 1; /* each individual grid div will always be square */
    flex: 0 0 var(--flex-basis); /* 100/# of grid squares per line - ensures equal amount of squares per line - each will be perfectly square */
}

.red-border{
    background-color: red;
    display: grid;
    place-items: center;
    height: 950px;
    width: 950px;
    padding-bottom: 100px; 
    border-radius: 30px; 
    margin: 20px;
}

.title {
    color: goldenrod;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-size: 50px;
   
}

.top{
    display: flex;
    justify-content: space-between;
    width: 850px;
    padding: 15px;
}

.top > button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-family: cursive;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #ddd;;
}

.rainbow{
    background: linear-gradient(
    135deg,
    #fffb03,
    #4bf429,
    #22e7f5,
    #885df3,
    #f751d9
  );
  color: #222;
  font-family: cursive;
  padding: 10px 24px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.on-off{
    font-weight:900;
}